* {
    padding: 0;
    margin: 0;
    max-width: 100%;
}

h1 {
    font-size: 5vw;
    font-weight: bold;
}

h2 {
    font-size: 3.5vw;
    font-weight: bold;
}

h3 {
    font-size: 2vw;
}

h4 {
    font-size: 1.8vw;
}

h5 {
    font-size: 1.6vw;
}

p {
    font-size: 1.9vw;
}

nav {
    background-color: transparent;
    position: absolute;
}

.heading {
    font-family: Product Sans, sans-serif;
    font-weight: bold;
    z-index: 20;
    color: #ffffff;
    text-align: center;
    padding: 10px;
}

.contentBox {
    position: absolute;
    top: 27%;
    width: 100%;
    z-index: 2000;
}

.section {
    height: 100%;
    background-size: cover;
    width: 100%;
    background-position: center center;
    z-index: -10;
    box-sizing: border-box;
}

#home {
    background-image: url("../images/girls-coding.jpg");
    position: relative;
}

#homeOverlay {
    box-sizing: border-box;
    background-color: rgba(69, 150, 251, 0.65);
    position: absolute;
    z-index: 0;
    height: 100%;
    width: 100%;
    background-size: cover;
}

.bottomTriangle {
    width: 0;
    height: 0;
    border-bottom: 80vh solid rgba(0, 196, 164, 0.65);
    border-left: 50vw solid transparent;
    position: absolute;
    right: 0px;
    bottom: 0px;
    z-index: 10;
}

.triangle {
    /*position: relative;*/
    height: 60%;
    /*margin-top: 40vh;*/
    margin-top: 40%;
}

.bottomContent {
    position: absolute;
    right: 3%;
    /*bottom: 10vh;*/
    bottom: 10%;
}

#aboutWTM {
    background-color: rgb(0, 196, 164);
    position: relative;
}

.topTriangle {
    position: relative;
    height: 60%;
    z-index: 10;
}

.UpperTriangle {
    width: 0;
    height: 0;
    border-top: 80vh solid rgb(69, 150, 251);
    border-right: 50vw solid transparent;
    position: absolute;
    right: 50%;
    top: 0px;
    z-index: 0;
}

.content {
    color: white;
    font-family: Product Sans, sans-serif;
    font-weight: normal;
}

#aboutHerHack {
    background-color: rgb(0, 196, 164);
    position: relative;
}

.herHacktriangle {
    width: 0;
    height: 0;
    border-bottom: 80vh solid rgb(69, 150, 251);
    border-left: 50vw solid transparent;
    position: absolute;
    right: 0px;
    bottom: 0px;
    z-index: 20;
}

.triangleBottom {
    z-index: 10;
    position: relative;
    height: 100%;
}

#prizes {
    background-color: rgb(69, 150, 251);
    position: relative;
}

.headCover {
    position: absolute;
}

.prizesPic {
    background-image: url("../images/Group 1.png");
    box-sizing: border-box;
    background-size: cover;
    width: 100%;
    background-position: center center;
    height: 100px;
}

#herRegistration {
    background-color: rgb(69, 150, 251);
    position: relative;
}

#herSponsors {
    background-color: rgb(0, 196, 164);
    position: relative;
}

.img {
    width: 30%;
    height: auto;
    box-sizing: border-box;
    background-size: cover;
    background-position: center center;
    display: block;
    margin: 10px auto;
    padding: 10px;

}

.WTMlogo {
    height: 35vh;
    width: auto;
}

.mobileHeadingBottom, .mobileHeadingTop {
    position: absolute;
    color: #ffffff;
    text-align: center;
    bottom: 0px;
    background-color: rgb(0, 196, 164);
}

.mobileHeadingTop {
    top: 0px;
    position: relative;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

nav {
    box-shadow: none !important;
    -webkit-box-shadow: none !important;
}
.fp-tableCell
{
    vertical-align: top;
}
.fp-section
{
    padding:0;
}
#fp-nav ul li a span
{
    background: #ffffff;
}
nav.fs-nav-dots.fs-show {
    transform: rotate(-90deg);
}
.carousel-fixed-item.center.with-indicators {
    display: none;
}
.center
{
    width: 100%;
}
input[type='number'] {
    -moz-appearance:textfield;
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input
{
    border: 2px solid white!important;
    margin: 10px!important;
    padding-left: 10px!important;
    box-sizing: border-box!important;
    height: 52px!important;
    border-radius: 26px!important;
    width: 100%;
    background: transparent;
    color: white;
}
input::-webkit-input-placeholder {
    color: white !important;
    padding-left: 10px;
    font-size: 1.5rem;
}

input:-moz-placeholder { /* Firefox 18- */
    color: white !important;
    font-size: 1.5rem;
    padding-left: 10px;
}

input::-moz-placeholder {  /* Firefox 19+ */
    color: white !important;
    font-size: 1.5rem;
    padding-left: 10px;
}

input:-ms-input-placeholder {
    color: white !important;
    font-size: 1.5rem;
    padding-left: 10px;
}
.waves-effect
{
    position: absolute;
    left:11px;
}
/* label focus color */
.input-field input[type=text]:focus + label {
    color: white;
}
/* label underline focus color */
.input-field input[type=text]:focus {
    border: 2px solid white!important;
    border-radius: 26px;
    padding-left: 10px!important;
    box-shadow: 0 1px 0 0 white;
    color: #ffffff;
}
/* valid color */
.input-field input[type=text].valid {
    border-bottom: 1px solid white;
    box-shadow: 0 1px 0 0 white;
    color: #ffffff;
    padding-left: 10px;
}
.input-field input[type=text].invalid {
    border: 2px solid red;
    border-radius: 26px;
    padding-left: 10px;
    box-shadow: none;
}
.btn
{
    background-color: white;
    color:rgb(69, 150, 251) ;
    text-transform: none!important ;
    border-radius: 26px;
    margin-left: 10px;
    height: 52px;
    width: 40%;
    font-size: 2rem;
    margin-top:20px;
}
.btn:hover
{
    background-color: white;
    box-shadow:8px 12px 10px;
}
.select-wrapper span.caret
{
    color: white!important;
}
.regHead
{
    font-family: Product Sans, sans-serif;
    font-size: 40px!important;
    font-weight: bold!important;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.21;
    letter-spacing: normal;
    text-align: left;
    color: #ffffff;

}
.btn:focus {
    background-color: white!important;
}
@media only screen and (max-width: 600px) {
    /*.col.bot.s12.mobileHeadingBottom {*/
        /*bottom: 50px;*/
    /*}*/
    #herRegistration {
        background-color: rgb(0, 196, 164);
    }
    #herSponsors{
        background-color: rgb(69, 150, 251);
    }
    #herRegistration h2{
        font-size: 20pt;
        text-align: center;
    }

    .img {
        width: 100%!important;
        height: auto;
    }

    .WTMlogo {
        height: 35vh;
        max-height: 500px;
        width: auto;
    }

    #aboutWTM {
        background-color: rgb(69, 150, 251) !important;
    }

    p {
        font-size: 16pt;
        padding: 10px;
        box-sizing: border-box;
    }
    html.fp-enabled, .fp-enabled body{
        overflow-y: scroll;
    }
    div#fp-nav {
        display: none;
    }
}
