*
{
    padding: 0px;
    margin: 0px;
}
.heading
{
    font-family: 'Lato', sans-serif;
    z-index: 20;
    color: #ffffff;
}
.background
{
    height: 100vh;
    background-size: cover;
    width:100%;
    background-position: center center;
    z-index: -10;
    box-sizing: border-box;
}
#home
{
    background-image: url("./images/girls-coding.jpg");
    position: relative;
}
#homeOverlay
{
    box-sizing: border-box;
    background-color: rgba(69, 150, 251, 0.65);
    position: absolute;
    z-index: 0;
    height: 100vh;
    width: 100%;
    background-size: cover;
}
.bottomTriangle
{
    width: 0;
    height: 0;
    border-bottom: 80vh solid rgba(0, 196, 164, 0.65);
    border-left: 50vw solid transparent;
    position: absolute;
    left:50vw;
    bottom: 0px;
    z-index:10;
}
.triangle
{
    position: relative;
    height:60vh;
    margin-top: 40vh;
}
.bottomContent
{
    position: absolute;
    right: 3%;
    bottom: 10vh;
}
#aboutWTM
{
    background-color:rgba(0, 196, 164, 0.65) ;
}
#topTriangle
{
    position: relative;
    height: 60vh;
    z-index: 10;
}
#UpperTriangle
{
    width: 0;
    height: 0;
    border-top: 80vh solid rgba(69, 150, 251, 0.65);
    border-right: 50vw solid transparent;
    position: absolute;
    left: 0px;
    top: 0px;
    z-index:0;
}
.content
{
    color: white;
    font-family: 'Raleway', sans-serif;
}
#aboutHerHack
{
    background-color:rgba(0, 196, 164, 0.65);
    position: relative;
}
.herHacktriangle
{
    width: 0;
    height: 0;
    border-bottom: 80vh solid rgba(69, 150, 251, 0.65);
    border-left: 50vw solid transparent;
    position: absolute;
    right: 0px;
    bottom: 0px;
}
.triangleBottom
{
    position: relative;
    height: 100vh;
}